/* buttons.modules.scss
   Defines styles for the simple, link-style buttons to FAQ, Privacy 
   Policy, and Terms of Service pages in the footer secion. Also defines
   styles for the larrger Enter Now button present in both the main
   section and the cta action. Change presense when hover over button.
*/

// style link-like buttons and the "|" dividers between them
.simple-button {
  background: none;
  border: none;
  color: #FD3560;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  text-decoration: none;
  align-items: center;
  height: 100%;
  flex: 1;
  justify-content: center;
}
  
.simple-button:hover {
  text-decoration: underline;
}

.simple-button-container {
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
  gap: 10px;
  width: 100%;
  margin-right: 40px;

  @media (max-width: 768px) {
    justify-content: center;
    margin-right: 0;
    order: -2;
  }
}

.divider {
  font-size: 12px; 
  color: white;
  display: flex;
  align-items: center;
}

// style rounded-rectangle-like buttons
.larger-button {
    background-color: #CE022C;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 15px;
    letter-spacing: 1.3px;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 140px;
}

.larger-button:hover {
  background-color: darken(#CE022C, 10%);
}

.larger-button-container {
  position: absolute;

  // default margin for desktop
  top: 690px;
  left: 139px;
  // decrease margin for mobile
  @media (max-width: 768px) {
      top: 1000px;
      left: 30px;
  }
}