/* buttons.modules.scss
   Defines styles for the simple, link-style buttons to FAQ, Privacy 
   Policy, and Terms of Service pages in the footer secion. Also defines
   styles for the larrger Enter Now button present in both the main
   section and the cta action. Change presense when hover over button.
*/

// link-style button
// Adjust button styling
.simple-button {
  background: none;
  border: none;
  color: #FD3560;
  font-size: 12px;
  cursor: pointer;
  padding: 5px; /* Ensure buttons have equal height */
  display: flex; /* Keep buttons aligned properly */
  align-items: center;
}
  
.simple-button:hover {
  text-decoration: underline;
}

.simple-button-container {
  display: flex; 
  align-items: center; /* Ensures buttons & dividers align properly */
  justify-content: flex-end; /* Aligns buttons to the right */
  gap: 10px; /* Adjust spacing between buttons & dividers */
  width: 100%;
  margin-right: 40px;
}


.divider {
  font-size: 12px; /* Match button text size */
  color: white; /* Match footer text color */
  display: flex;
  align-items: center; /* Ensures vertical alignment with buttons */
}

// rounded-rectangle style button 
.larger-button {
    background-color: #CE022C;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 15px;
    letter-spacing: 1.3px;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 140px;
}

.larger-button:hover {
  background-color: darken(#CE022C, 10%);
}