/* countdownStyle.module.scss
   Defines the styles for the countdown timer's container. Adjusts styling
   based on screen size.
*/

$transition-width: 768px;

// style container (alignment, padding, sizing, background color, etc)
.countdown-container {
    position: absolute;
    text-align: left;
    font-size: 14px;
    color: white;
    max-width: 300px;
    letter-spacing: 2.8px;

    // default margin for desktop
    top: 42px;
    left: 50px;
    // decrease margin, font size, and spacing for mobile
    @media (max-width: $transition-width) {
        position: relative; 
        top: auto;
        left: auto;
        width: 100%; 
        text-align: start; 
        font-size: 11px;
        letter-spacing: 2.2px;
        align-self: flex-start;
        padding-top: 33px;
        padding-left: 30px;
    }

}