/* ctaSection.module.scss
   Define styles for the background and features within the Call To
   Action section. Resize features based on screen-size.
*/

$transition-width: 1352px;

.cta-section {
  background-color: #F5F5F5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 107px;
  padding-bottom: 136px;

  @media (max-width: $transition-width) {
    padding-top: 45px;
    padding-bottom: 68px;
  }
}

.cta-header {
  font-size: 30px;
  font-weight: normal;
  color: black;

  @media (max-width: $transition-width) {
    font-size: 18px;
  }
}

.cta-caption {
  font-size: 18px;
  font-weight: normal;
  color: black;
  max-width: 720px;
  text-align: center;

  @media (max-width: $transition-width) {
    font-size: 13px;
    max-width: 80%;
  }
}