@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.full-width {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Responsive Container */
@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 10px;
  }
}