/*$backgroundColor: #2ecc71;

.app {
  background-color: $backgroundColor;
}
*/

body {
  margin: 0;
  padding: 0;

  background-image: url("../images/background2x.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

html {
  font-family: var(--font-open-sans), sans-serif;
}