/* globals.scss
   Defines styles applicable to the entire application. Also imports 
   bootstrap and adjusts  max-width of the container based on screen size.
*/

@import "bootstrap/dist/css/bootstrap.min.css";

$transition-width: 768px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// remove default underline in links
a {
  text-decoration: none;
  color: inherit; 
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.full-width {
  margin: 0;
  padding: 0;
  width: 100%;
}

// Responsive Container
@media (max-width: $transition-width) {
  .container {
    max-width: 95%;
    padding: 10px;
  }
}