/* prizeCarousel.module.scss
   Defines the styles for the carousel, including it's container, places,
   captions, images, and progress bar. Adjusts the styling based on the
   screen size.
*/

// style container (alignment, padding, sizing, background color, etc)
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%; 
    max-width: 444px; 
    min-height: 360px; 

    // align to the right, with margin, on desktop
    margin-left: auto;
    margin-right: 190px;
    margin-top: 190px;

    // center and move further down screen on mobile
    @media (max-width: 768px) {
        margin: 264px auto;
        max-width: 350px;
    } 
}

// style accompanying text
.prize-place {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7E011C;
    margin-top: 5px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: center;
    padding: 0 10px;
}

.prize-caption {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: center;
    padding: 0 10px;
    max-width: 404px;
}

// style images that appear within slides
.prize-image {
    display: block;
    width: 100%;
    max-width: 500px; // ADJUST FOR MOBILE
    margin: 0 auto;
}

// style progress bar and switching slides
.carousel-progress {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    overflow: hidden;
}

.progress-bar {
    flex: 1;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.progress-bar.active {
    background-color: #FD3560;
}