.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%; 
    max-width: 350px; 
    min-height: 250px;

    /* Center carousel on mobile by default */
    margin: 0 auto;

    /* Align carousel to the right on desktop */
    @media (min-width: 768px) {
        margin-left: auto; 
        margin-right: 0;    
    }
}

.prize-text {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prize-place {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7E011C;
    margin-top: 5px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: center;
    padding: 0 10px;
}

.prize-caption {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: center;
    padding: 0 10px;
}

.prize-image {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.carousel-progress {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    overflow: hidden;
}

.progress-bar {
    flex: 1;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.progress-bar.active {
    background-color: #FD3560;
}